/*uc1 header*/
.header
{
    padding:15px 0;
    background-color: #ffffff;
}
/*by default flex display will give direction as row*/
.header-content
{
    display: flex;
}
.logo-content
{
    display: flex;
    align-items:center;
}
.emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #42515f;  
    text-transform: capitalize; }

* { box-sizing: border-box;}
